<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <div align=center>
    {{> header}}

    <form method="get" action="/weather">
      Enter your location: <input type="text" name="location" value="Mumbai" maxlength="200" />
      <input  type="submit" value="Get Weather" />
    </form>

    {{> footer}}
  </div>
  </body>

</html>
