<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Updating</title>
  </head>
  <body>
    <h1>We will be right back!</h1>
    <p>The site is updating please try after sometime</p>

  </body>

</html>
