<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
  </head>
  <body>
    <div align=center>
    <h2>Error : {{error}} </h4>
    <p><a href="/">Go Back</a></p>
  </div>
  </body>

</html>
